ol{
	display: flex;
}
ol{
	height:.88rem;
	line-height: .88rem;
	border-bottom: 1px solid #e1e1e1;
	background: #fff;
}
ol>li{
	flex:1;
	font-size: .3rem;
	height:100%;
	text-align: center;
	color:#333;
	list-style: none;
}
ol>li.active{
	color:#096;
	border-bottom: 2px solid #096;
}
.mui-table-view{
	display: none;
}
.mui-table-view.active{
	display: block;
}
.mui-table-view-cell{
	height:2rem;
	padding: .2rem .3rem;
}
.mui-media-body{
	font-size: .24rem;
}
.mui-ellipsis{
	font-size: .2rem;
	color:#333;
}
.mui-table-view-cell>a:not(.mui-btn){
	margin: 0;
	padding: 0;
}
.mui-table-view .mui-media-object.mui-pull-left {
    margin-right: .28rem;
    height: 1.6rem;
    width: 1.6rem;
    border-radius: .2rem;
    vertical-align: middle;
}
.mui-table-view .mui-media-object{
	line-height: 1;
	max-width: 3rem;
}
.mui-media-body{
	padding-top: .2rem;
}
.time{
	font-size: .24rem;
	color:#666;
}
