.mui_content{
	padding-top: 44px;
}
.address{
	height:1.8rem;
	padding: .3rem;
	font-size: 0;
	color:#333;
	background: #fff;
	margin-bottom: .2rem;
}
.address *{
	font-size: .28rem;
}
.address .mui-icon{
	font-size: .4rem;
}
.address .middle{
	width:5.38rem;
}
.address>div{
	display: inline-block;
	font-size: .28rem;
	vertical-align: middle;
}
.address img{
	vertical-align: middle;
	width:.32rem;
	margin-right: .2rem;
}
.address .t span{
	margin-right: .1rem;
}
.address .right{
	text-align: right;
	width:1rem;
}
.address .t .r{
	color:#999;
}
.order{
	background: #fff;
}
ol {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}
ol>li {
    padding: .3rem;
}
ol>li .left {
    width: 1.44rem;
    margin-right: .2rem;
    vertical-align: top;
}

ol>li>div {
    display: inline-block;
}
ol>li img {
    width: 100%;
    border-radius: .1rem;
}
ol>li .right {
    width: 5.04rem;
    font-size: .24rem;
    color: #999;
}
ol>li .right div{
	font-size: .24rem;
}
h5 {
    margin: 0;
    font-size: .28rem;
    color: #333;
    display: block;
    display: -webkit-box;
    margin: 0 auto;
    line-height: 1.4;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
ol>li .right div {
    margin-top: .14rem;
}
.pirce {
    font-size: .24rem;
    color: #e21323;
}
.footer{
	float:right;
	font-size: .28rem;

}
.content>.order{
	padding-bottom: .6rem;
}
.footer .pirce{
	font-size: .28rem;
}
.apply,.time{
	height:1.4rem;
	margin: .2rem 0;
	background: #fff;
	padding: .3rem 0 .3rem .3rem;
	font-size:.28rem;
}
.apply>div:last-child,.time>div:last-child{
	margin-top: .14rem;
	
}
.list{
	margin-top: .2rem;
}

.mui-table-view-cell span, .mui-table-view-cell,.mui-navigate-right{
	font-size: .24rem;
}
.mui-table-view:before,.mui-table-view:after{
	background: transparent;
}
footer{
	margin-top: .2rem;
	text-align: center;
}
.font-3{
	font-size: .3rem;
	color:#e21323;
}
.symbol{
	font-size:.2rem;
	color:#e21323;
}
footer div{
	font-size: .3rem;
}
.btn{
	width:5.2rem;
	margin: 0.2rem auto 0;
	text-align: center;
	height:.8rem;
	line-height: .8rem;
	background: #096;
	color:#fff;
	border-radius: .1rem;
}
.num>div{
	font-size: 0 !important;
	margin-top: 0 !important;
}
.num  span{
	display: inline-block;
	text-align: center;
	width:.6rem;
	height:.6rem;
	line-height: .6rem;
	border:1px solid #dadada;
	background: #fff;
	font-size: .28rem;
}
.num  img{
	width:.3rem;
	vertical-align: middle;
}
.num  .count{
	background: #fff;
	border-left:0;
	border-right:0;
}
.minus{
	border-top-left-radius: .1rem;
	border-bottom-left-radius: .1rem;
}
.minus.active{
	background: #999;
}
.num  .add{
	border-top-right-radius: .1rem;
	border-bottom-right-radius: .1rem;
	background: #fff;
}
.btn>button{
	width:6.9rem;
	height:.88rem;
	text-align: center;
	background: #096;
	font-size:.32rem;
	color:#fff;
	border-radius: .1rem;
	border:none;
	outline: none;
}
.num  .minus.disable{
	background: #f5f5f5;
}
.num div{
	display: inline-block;
    vertical-align: middle;
}