<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>商品详情</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../css/public.css?v=1.0" />
		<link rel="stylesheet" href="../css/detail.css?v=1.0" />
	</head>
	<body>
		<div class="mui-slider">
			<div class="mui-slider-group mui-slider-loop">
				<!--支持循环，需要重复图片节点-->
				<div class="mui-slider-item mui-slider-item-duplicate">
					<a href="#"><img src="../img/banner.png" /></a>
				</div>
				<div class="mui-slider-item">
					<a href="#"><img src="../img/banner.png" /></a>
				</div>
				<div class="mui-slider-item">
					<a href="#"><img src="../img/banner.png" /></a>
				</div>
				<div class="mui-slider-item">
					<a href="#"><img src="../img/banner.png" /></a>
				</div>
				<div class="mui-slider-item">
					<a href="#"><img src="../img/banner.png" /></a>
				</div>
				<!--支持循环，需要重复图片节点-->
				<div class="mui-slider-item mui-slider-item-duplicate">
					<a href="#"><img src="../img/banner.png" /></a>
				</div>
			</div>
			<div class="mui-slider-indicator">
				<div class="mui-indicator mui-active"></div>
				<div class="mui-indicator"></div>
				<div class="mui-indicator"></div>
				<div class="mui-indicator"></div>
			</div>
		</div>
		<div class="mui_content">
			<div class="content">

				<div class="titles">
					<div class="top">
						<h6>韵之味布艺简约约舒适单人沙发韵之味布约舒适单人沙发韵之味布舒适单人沙发韵之味布</h6>
						<div class="share">
							<b></b>
							<img src="../img/icon-collection.png" alt="" />
						</div>
					</div>
					<div class="info">
						<ul>
							<li class="price">价格 <span>120.00</span></li>
							<li>快递:<span>免运费</span></li>
							<li>剩余:<span class="count">3</span></li>
						</ul>
					</div>
				</div>
				<div class="spec">
					<p>
						选择 <span class="rents" data-index="0" style="display: none;">选择尺码</span><span class="nums" data-count="0">数量</span>
						<b>...</b>
					</p>
				</div>
				<div class="buttons-tab">
					<a  class="tab-link active button" data-index="1">产品介绍</a>
					<a  class="tab-link button" data-index="2">评价</a>
				</div>
				<div class="content-block">
					<div class="tabs">
						<div id="tab1" class="tab active">
							<div class="content-block">
								<p>This is tab 1 content</p>
								<img src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1n3rZHFXXXXX9XFXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg" alt="">
							</div>
						</div>
						<div id="tab2" class="tab">
							<div class="content-block">
								<!--<div class="titleName">名字</div>
								<ul>
									<li>
										<div class="left">2222</div>
										<div class="right">3333</div>
									</li>
									<li>
										<div class="left">2222</div>
										<div class="right">3333</div>
									</li>
								</ul>
								<div class="titleName">名字</div>
								<ul>
									<li>
										<div class="left">2222</div>
										<div class="right">3333</div>
									</li>
									<li>
										<div class="left">2222</div>
										<div class="right">3333</div>
									</li>
								</ul>-->
								<ul class="mui-table-view">
								    <li class="mui-table-view-cell">
								        <a class="mui-navigate-right">查看更多</a>
								    </li>
								</ul>
							</div>
						</div>
					</div>
				</div>

			</div>
			<footer>
				<ul>
					<li class="cart">
						<b>
    						<img src="../img/cart.png" alt="" />
    					</b>
						<span class="num active">2</span>
						<span class="text">购物车</span>
					</li>
					<li class="addCart">加入购物车</li>
					<li class="orderDown">立即下单</li>
				</ul>
			</footer>
			<div class="prop">
				<div class="box">
					<div class="img">
						<img src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1n3rZHFXXXXX9XFXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg" alt="">
						<span>剩余：33</span>
						<img src="../img/close.png" alt="" class="right close-popup" />
					</div>
					<div class="rant">
						<span>租期</span>
						<ul>
							<li data-num="3">3个月</li>
							<li data-num="6">6个月</li>
							<li data-num="9">9个月</li>
							<li data-num="12">12个月</li>
						</ul>
					</div>
					<div class="month">
						<span>月租</span>
						<span class="r">120.00</span>
					</div>
					<div class="num">
						<span>数量</span>
						<div class="r">
							<span class="minus disable"><img src="../img/minus.png" alt="" /></span>
							<span class="count" data-count="1">1</span>
							<span class="add"><img src="../img/add.png"/></span>
						</div>
					</div>
					<div class="btn">
						<button>确定</button>
					</div>
				</div>
			</div>

		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/jquery-3.3.1.min.js"></script>
		<script src="../unit/detail.js?v=1.0"></script>
	</body>

</html>