<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>订单详情</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../css/public.css?v=1.0" />
		<link rel="stylesheet" href="../css/pro_info.css?v=1.0" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">订单详情</h1>
		</header>
		<div class="mui_content">
	
			<div class="address">
        		<div>
        			<span class="mui-icon mui-icon-location"></span>
        		</div>
        		<div class="middle">
					<div class="t">
						<span>收货人 :</span>
						<span>张三丰</span>
						<span class="r">18194746398</span>
					</div>
					<div>广东省深圳市南山区高新南一道科兴科学园A3栋7楼706室</div>
        		</div>
        		<div class="right">
        			<span class="mui-icon mui-icon-arrowright"></span>
        		</div>
        	</div>
        	<div class="order">
        		<ol>
		 			<li>
	 					<div class="left">
		 					<img src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1n3rZHFXXXXX9XFXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg" alt="">
		 				</div>
		 				<div class="right">
		 					<h5>韵之味布艺简约舒适单人沙发韵之味布艺简约舒适单人沙发韵之味布艺简约舒适单</h5>
							<div>数&emsp;&emsp;量：<span class="pirce">2</span></div>
		 					<div>价&emsp;&emsp;格：<span class="pirce">¥600.00</span></div>
		 				</div>
		 			</li>
					<li>
	 					<div class="left">
		 					<img src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1n3rZHFXXXXX9XFXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg" alt="">
		 				</div>
		 				<div class="right">
		 					<h5>韵之味布艺简约舒适单人沙发韵之味布艺简约舒适单人沙发韵之味布艺简约舒适单</h5>
							<div>数&emsp;&emsp;量：<span class="pirce">1</span></div>
		 					<div>价&emsp;&emsp;格：<span class="pirce">¥600.00</span></div>
		 				</div>
		 			</li>
		 		</ol>
        	</div>
        	<div class="list">
        		<ul class="mui-table-view">
				    <li class="mui-table-view-cell">
				    	配送方式
				        <span class="r">快递</span>
				    </li>
				    <li class="mui-table-view-cell">
				    	运费
				        <span class="r pirce">¥6</span>
				    </li>
				    <li class="mui-table-view-cell">
				        <a class="mui-navigate-right">可用蓝豆</a>
				    </li>
				    <li class="mui-table-view-cell">
				        <a class="mui-navigate-right">优惠券</a>
				    </li>
				</ul
        	</div>
        	<footer>
        		<div>
        			总金额:
        			<span class="symbol">¥</span>
        			<span class="price font-3">296.00</span>
        		</div>
        		<div class="btn">微信付款</div>
        	</footer>
        	
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/jquery-3.3.1.min.js"></script>
		<script src="../unit/pro_info.js?v=1.0"></script>
	</body>

</html>