<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>购物车</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../css/public.css?v=1.0" />
		<link rel="stylesheet" href="../css/shopCart.css?v=1.0" />
	</head>

	<body>

		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">购物车</h1>
		</header>
		<div class="mui_content">
			<ul>
				<li data-index="1">
					<div class="title">
						<span>大医生旗舰店</span>
						<span class="r">
							<img src="../img/del.png" class="del" />
						</span>
					</div>
					<div class="info">
						<div class="mui-checkbox mui-left">
							<input name="checkbox" type="checkbox" checked="">
						</div>
						<div class="img">
							<img src="../img/test1.png" alt="" />
						</div>
						<div class="t">
							<div class="Name">蓝之蓝蓝色瓶装经典Q7浓香型白酒500ml52度高端纯粮食酒2瓶装包邮</div>
							<div>规格:<span>红色</span>,<span>23</span></div>
							<div class="num">
								<div class="l">
									<span>¥</span>
									<span class="price" data-price="296">296.00</span>
								</div>
								<div class="r">
									<span class="minus disable"><img src="../img/minus.png" alt=""></span>
									<span class="count" data-count="1">1</span>
									<span class="add"><img src="../img/add.png"></span>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li data-index="2">
					<div class="title">
						<span>大医生旗舰店</span>
						<span class="r">
							<img src="../img/del.png" class="del" />
						</span>
					</div>
					<div class="info">
						<div class="mui-checkbox mui-left">
							<input name="checkbox" type="checkbox">
						</div>
						<div class="img">
							<img src="../img/test1.png" alt="" />
						</div>
						<div class="t">
							<div class="Name">蓝之蓝蓝色瓶装经典Q7浓香型白酒500ml52度高端纯粮食酒2瓶装包邮</div>
							<div>规格:<span>红色</span>,<span>23</span></div>
							<div class="num">
								<div class="l">
									<span>¥</span>
									<span class="price" data-price="296">296.00</span>
								</div>
								<div class="r">
									<span class="minus disable"><img src="../img/minus.png" alt=""></span>
									<span class="count" data-count="1">1</span>
									<span class="add"><img src="../img/add.png"></span>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
			<footer>
				<div class="mui-checkbox mui-left allCheck">
					<label>全选</label>
					<input name="checkbox" type="checkbox" id="all">
				</div>
				<div class="sumPrice">
					<span>合计</span>
					<span class="symbol">¥</span>
					<span class="price" id="price">296.00</span>
				</div>
				<div class="btn">去结算</div>
			</footer>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/jquery-3.3.1.min.js"></script>
		<script src="../unit/shopCart.js?v=1.0"></script>
	</body>

</html>